<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
<!--    crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">-->

    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
<!--    crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>-->
</head>
<body>
<!--/*@thymesVar id = "recipe" type = "guru.springframework5.domain.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" th:text="${recipe.description}">Recipe Description here</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Categories:</h5>
                            </div>
                            <div class="col-md-9">
                                <ul th:each="catg:${recipe.categorySet}">
                                    <li th:text="${catg.description}">Category One</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <p th:text="'Prep Time: '+${recipe.prepTime}+' minutes'">preptime</p>
                            <p th:text="'Cook Time: '+${recipe.cookTime}+' minutes'">cooktime </p>
                            <p th:text="'Serves: '+${recipe.servings}">serves </p>
                            <p th:text="'Source: '+${recipe.source}">source</p>
                            <p th:text="'URL: '+${recipe.url}">url</p>
                            <div class="panel panel-primary">
                                <div class="panel panel-heading">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h1 class="panel-title">Ingredients</h1>
                                        </div>
                                        <div class="col-md-1">
                                            <a class="btn btn-default" href="#" th:href="@{'/recipe/'+${recipe.id}+'/ingredients'}" role="button">View</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul th:each="ingr:${recipe.ingredientSet}">
                                                <li th:text="${(ingr.amount+' '+ingr.unitOfMeasure.description+' '+ingr.description)}">ingredients </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel panel-heading">
                                    <h1 class="panel-title">Directions</h1>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p th:text="${recipe.directions}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel panel-heading">
                                    <h1 class="panel-title">Notes</h1>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p th:text="${recipe.notes.recipeNotes}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>